<h1>Here's your triangle type!</h1>

<% if @triangle.triangle?() %>
 <h5> It is a triangle!</h5>
 <% end %>

 <% if @triangle.equilateral?() %>
 <h5> It is an equilateral triangle!</h5>
 <% end %>

 <% if @triangle.isosceles?() %>
 <h5> It is an isosceles triangle!</h5>
 <% end %>

 <% if @triangle.scalene?() %>
 <h5> It is a scalene triangle!</h5>
 <% end %>
